* {margin: 0;padding: 0;}
body{background: grey url(./img/wall.jpg) no-repeat center center;background-size: cover;}
a{text-decoration: none;}
kbd{border: blue 1px solid;display: inline-block;width: 5em;height: 5em;
    text-transform: uppercase;position: relative;}
kbd > button {position: absolute;right: 4px;bottom: 2px;display: none;padding: 0 4px;}
kbd:hover > button{display: inline-block;border: 1px #68817d solid;color: #e9e9e9;
    border-radius: 2px;cursor: pointer;box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: #7e7e73;}
kbd:hover{position: relative;top: 5px;cursor: pointer;}
main{text-align: center;height: 100vh;display: flex;justify-content: center;
    align-items: center;}
.wrapper{background: rgba(255, 255, 255, 0.2);border-radius: 10px;}
.key{width: 60px;height: 48px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,247,247,1) 100%); 
    border: 1px solid #fbfcfc;color: #757780;border-radius: 7px;
    box-shadow: 0 0 0 1px #D8dddf,0 2px 0 2px #d8dddf;display: inline-flex;
    position: relative;font-family: Helvetica;font-size: 16px;}
.row{margin: 20px;}
.row .key{margin: 0 10px;}
.key img{width: 16px;height: 16px;position: absolute;left: 4px;bottom: 2px;}
.key .text{position: absolute;left: 4px;top: 2px;}

